<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-10 col-xs-10 main">
      <!-- <div class="page-header"><h1>Settings</h1></div> -->
      <%= render 'settings/header' %>
      <div class="page-header">
        <h1>User Settings</h1>
      </div>
      <div class="page-form">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-inline" }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div>
              <%= f.input :email, required: true, autofocus: true, placeholder: "Email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <div>
              <br/>
              <%= f.input :first_name, autocomplete: "on", required: false, placeholder: "First Name" %>
            </div>

            <div>
              <br/>
              <%= f.input :last_name, autocomplete: "on", required: false, placeholder: "Last Name" %>
            </div>
          </div>

          <div>
            <br/>
            <input type="button" class="btn password-change-toggle" value="Change Password"/>
          </div>
          <div class="form-inputs change-password-hidden">
            <div>
              <%= f.input :current_password, required: false, placeholder: "Current Password" %>
            </div>
            <div>
              <%= f.input :password, autocomplete: "off", required: false, placeholder: "New Password" %>
            </div>
            <div>
              <%= f.input :password_confirmation, required: false, placeholder: "New Password Confirmation" %>
            </div>
          </div>
          <div class="form-actions">
            <br/>
            <%= f.button :submit, "Update", class: "btn btn-default btn-lg btn-block sign-up-link" %>
          </div>
        <% end %>
        <hr>
        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
        <hr>
      </div>
    </div>
  </div>
</div>
