<p id="notice"><%= notice %></p>

<h1>Listing Your Rewards Cards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards_cards.each do |rewards_card| %>
      <tr>
        <td><%= link_to 'Show', rewards_card %></td>
        <td><%= link_to 'Edit', edit_rewards_card_path(rewards_card) %></td>
        <td><%= link_to 'Destroy', rewards_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rewards card', new_rewards_card_path %>
